.container {
  min-height: 100vh;
  background: rgb(252, 252, 252);
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.openToWorkPortrait {
  width: 90px;
  height: auto;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  border-radius: 100%;
}
.projectLink {
  margin-top: 0.5rem;
  font-size: 13px;
  margin-bottom: 0.5rem;
}
.projectLink::before {
  content: "⇨";
}
.main {
  padding: 2rem;
  flex: 1;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-bottom: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
