.articlesContainer {
  display: flex;
  flex-direction: row;
  width: 100vw;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.articlesHeader {
  width: 60rem;
margin-bottom: 2rem;
font-size: 18px;
border-bottom: 1px solid grey;
}
.articleContainer {
width: 30rem;
margin-bottom: 2rem;

}
.header {
  font-size: 15px;
}
.source {
  font-size: 12px;
  margin-bottom: 1rem;
}

.img {
border-radius: 12px;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}
