/* Mobile */
.articlesContainer {
  display: flex;
  flex-direction: row;
  width: 100vw;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.articlesHeader {
  width: 60rem;
  margin-bottom: 1rem;
  font-size: 18px;
  border-bottom: 1px solid grey;
}
.articlesRow {
  width: 60rem;
  margin-bottom: 3rem;
  font-size: 18px;
}

/* TABLET && DESKTOPS +  >= 800px */

@media (min-width: 800px) {
}
