
/* Mobile */
.pageContainer {
  min-height: 100vh;
  background: rgb(252, 252, 252);
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newsContent {
  padding: 2rem 0;
  flex: 1;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.pageFooter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.nyTimesSvg {
  margin-left: 3rem;
  fill: #000;
  height: 30px;
}
/* TABLET && DESKTOPS + +  >= 800px */

@media (min-width: 800px) {

}
