.container {
  min-height: 100vh;
  background: rgb(252, 252, 252);
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.nyTimesSvg {
  margin-left: 3rem;
  fill: #000;
  height: 30px;
}
@media (max-width: 600px) {

}
