/* Mobile */

.textArticleContainer {
  width: 30rem;
  margin-bottom: 2rem;
  margin-right: auto;
}
.textArticleHeader {
  font-size: 11pt;
  width: 88%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  padding-bottom: 0.6rem;
  margin-bottom: 0.6rem;
}
.textArticleSource {
  font-size: 12px;
  margin-bottom: 1rem;
}

/* TABLET && DESKTOPS +  >= 800px */

@media (min-width: 800px) {
  .textArticleContainer {
    margin-right: 0;
    margin-bottom: auto;
    margin-top: 2rem;
  }
  .textArticleHeader {
    font-size: 14pt;
  }
}
